# Build
target/
build/

# Logs
*.log

# Maven/Gradle
.mvn/
.gradle/
!.mvn/wrapper/maven-wrapper.jar

# Configuration
application.properties
application.yml
.env

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
